.loginContainer{
    background-image: url('../../images/Group\ 271.png');
    background-repeat: no-repeat;
    background-position: auto;
    display: flex;
    
}
.loginFormContainer{
    width: 35%;
    background-color: white;
    padding: 1rem 4rem;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
.loginFormContainer input{
    padding: .600rem .75rem !important;
}
.loginImageContainer{
    margin-right: 7rem;
}
.loginImageContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.loginFormContainer input{
    border: 1px solid #F26414;
}
.loginFormContainer label{
    font-weight: 500;
    margin-bottom: 0;
}
.loginFormContainer .form-group{
    margin-bottom: .5rem;
}
.loginFormContainer a {
    text-decoration: underline;
    color: black;
}

.loginSubmit{
    background-color: #F26414;
    font-weight: 500;
    color: white;
    
}
.checkBtn{
    background: none;
    border: none;
}
hr{
    width: 30%;
    margin-top: .9rem;
}
/* Mobile Phones (Portrait) */
 @media only screen and (max-width: 767px) {
 
    .loginContainer{
        flex-direction: column;
    }
    .loginImageContainer{
        margin-right: 0;
    }
    .loginFormContainer{
        width: 100%;
    }
    
} 
/* Tablets (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    
    .loginContainer{
        flex-direction: column;
    }
    .loginFormContainer{
        width: 90%;
        margin: 0 2rem 0 2.5rem !important;

    }
    .loginImageContainer{
        margin: 0 !important;

    }
} 
/* Small Laptops and Desktops */
/* Small Laptops and Desktops */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
    
    .loginImageContainer{
        margin: 0 !important;
        justify-content: space-between;
        /* flex-grow: ; */
    }
    
    .loginFormContainer{
        width: 47%;
        margin: 0 !important;
        margin-right: 1rem !important;
        margin-top: 2rem !important;
    }
    
  } 
  
  /* Medium to Large Desktops */
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .registerImageContainer img {
        object-fit: none;
    } 
    .loginFormContainer{
        width: 35% !important;
        /* margin-right: 0 !important; */
    }

} 
  
  /* Large Desktops and TVs */
 @media only screen and (min-width: 1440px) {
     .loginContainer{
        align-items: center;
        justify-content: space-evenly;
     }
    .loginFormContainer{
        width: auto;
        margin-right: 0 !important;
    }
    .loginImageContainer{
        margin: 0 !important;
        justify-content: space-between;
        /* flex-grow: 2; */
    }
    
  } 
