.categoriesContainer {
  position: relative;
  padding: 0;
}
.categoriesSubContainer a:hover{
  text-decoration: none !important;
}
.catogoryFooterImg {
  /* padding-top: 10rem; */
  width: 100%;
  height: 50%;
  object-fit: cover;
  background-color: #fdf7eb;
}
.categoriesSubContainer {
  position: absolute;
  top: -7rem;
  margin: 0 3.4rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 10;
  /* background-color:  #fdf7eb; */
}
/* .categoriesSubContainer div:hover{
 

} */

.style_prevu_kit
{
 

    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}
.style_prevu_kit:hover
{
   
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}

.card-img-overlay h2 {
  /* font-size: 2rem; */
  margin-bottom: 0;
  font-weight: 600; 
  letter-spacing: 1px; 
}
.card {
  border: none;
  border-radius: 25px;
  margin-right: 2rem;
}
/* Mobile Phones (Portrait) */
@media only screen and (max-width: 480px) {
  /* Styles for mobile phones in portrait orientation */
  .categoriesSubContainer {
    position: relative;
    top: 0;
    margin: 1rem 1rem;

    flex-wrap: wrap;
  }
  .card {
    border: none;
    border-radius: 25px;
    margin-right: 0;
    margin-bottom: 1.5rem;
    /* width: 90%; */
  }
  .catogoryFooterImg {
    display: none;
  }
  .categoriesContainer {
    background-color: #fdf7eb;
  }
}

/* Mobile Phones (Landscape) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* Styles for mobile phones in landscape orientation */
  .categoriesSubContainer {
    position: relative;
    top: 0;
    margin: 1rem 1rem;
    flex-wrap: wrap;
  }
  .card {
    border: none;
    border-radius: 25px;
    margin-right: 0;
    margin-bottom: 1.5rem;
    width: 90%;
  }
  .catogoryFooterImg {
    display: none;
  }
  .categoriesContainer {
    background-color: #fdf7eb;
  }
}

/* Tablets (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Styles for tablets in portrait orientation */
  .categoriesSubContainer {
    top: -3.5rem;
    margin: 0;
    margin-left: 1rem;
  }
  .card {
    margin-right: 1rem;
  }
  .card-img-overlay h5 {
    font-size: 1.5rem;
    margin-bottom: 0;
    font-weight: 700;
  }
  .catogoryFooterImg {
    padding-top: 4rem;
  }
}

/* Tablets (Landscape) */
@media only screen and (min-width: 992px) and (max-width: 1023px) {
  /* Styles for tablets in landscape orientation */
  .categoriesSubContainer {
    top: -3.5rem;
    margin: 0;
    margin-left: 1rem;
  }
  .card {
    margin-right: 1rem;
  }
  .card-img-overlay h5 {
    font-size: 1.5rem;
    margin-bottom: 0;
    font-weight: 700;
  }
  .catogoryFooterImg {
    padding-top: 4rem;
  }
}

/* Small Laptops and Desktops */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  /* Styles for small laptops and desktops */
  .categoriesSubContainer {
    top: -3.5rem;
    margin: 0;
    margin-left: 1rem;
  }
  .card {
    margin-right: 1rem;
  }
  .card-img-overlay h5 {
    font-size: 1.5rem;
    margin-bottom: 0;
    font-weight: 700;
  }
  .catogoryFooterImg {
    padding-top: 5rem;
  }
}

/* Medium to Large Desktops */
@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  /* Styles for medium to large desktops */
  .categoriesSubContainer {
    top: -5rem;
    margin: 0 3rem 0 3.1rem;
    padding: 0;
  }
  .card {
    margin-right: 3rem;
  }
  .card:last-child {
    margin-right: 0;
  }
  .catogoryFooterImg {
    padding-top: 3rem;
  }
}

/* Large Desktops and TVs */
@media only screen and (min-width: 1440px)  {
  /* Styles for large desktops and TVs */
  .categoriesSubContainer {
    top: -9rem;
    margin: 0 6rem 0 6.1rem;
    padding: 0;
  }
  .card {
    margin-right: 6rem;
  }
  .card:last-child {
    margin-right: 0;
  }
  .card-img-overlay h5 {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 1665px) and (max-width: 1765px) {
  .categoriesSubContainer {
    top: -8.4rem;
    /* margin: 0 9rem 0 9.1rem ; */
  }
  .card {
    margin-right: 8rem;
    /* height: 10rem; */
    width: 300px;
  }
  /* .card:last-child {
    margin-right: 0rem;
  } */
  .card-img-overlay h5 {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 1766px) and (max-width: 1865px) {
  .categoriesSubContainer {
    top: -8.4rem;
    /* margin: 0 9rem 0 9.1rem ; */
  }
  .card {
    margin-right: 10rem;
    width: 300px;
  }
  /* .card:last-child {
    margin-right: 0rem;
  } */
  .card-img-overlay h5 {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 1866px) and (max-width: 1965px) {
  .categoriesSubContainer {
    top: -8.4rem;
    /* margin: 0 9rem 0 9.1rem ; */
  }
  .card {
    margin-right: 11rem;
    width: 300px;
  }
  .card:last-child {
    margin-right: -2rem;
  }
  .card-img-overlay h5 {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 1966px) and (max-width: 2065px) {

  .categoriesSubContainer {
    top: -8.4rem;
    /* margin: 0 9rem 0 9.1rem ; */
  }
  .card {
    margin-right: 12rem;
    width: 300px;
  }
  .card:last-child {
    margin-right: -2rem;
  }
  .card-img-overlay h5 {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 2066px) and (max-width: 2165px) {

  .categoriesSubContainer {
    top: -8.4rem;
    /* margin: 0 9rem 0 9.1rem ; */
  }
  .card {
    margin-right: 12rem;
    width: 310px;
  }
  .card:last-child {
    margin-right: -2rem;
  }
  .card-img-overlay h5 {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 2166px) and (max-width: 2265px) {

  .categoriesSubContainer {
    top: -8.4rem;
    /* margin: 0 9rem 0 9.1rem ; */
  }
  .card {
    margin-right: 14rem;
    width: 320px;
  }
  .card:last-child {
    margin-right: -2rem;
  }
  .card-img-overlay h5 {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 2266px) and (max-width: 2365px) {

  .categoriesSubContainer {
    top: -8.4rem;
    /* margin: 0 9rem 0 9.1rem ; */
  }
  .card {
    margin-right: 16rem;
    width: 330px;
  }
  .card:last-child {
    margin-right: -2rem;
  }
  .card-img-overlay h5 {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 2366px) and (max-width: 2465px) {

  .categoriesSubContainer {
    top: -8.4rem;
    /* margin: 0 9rem 0 9.1rem ; */
  }
  .card {
    margin-right: 18rem;
    width: 340px;
  }
  .card:last-child {
    margin-right: -2rem;
  }
  .card-img-overlay h5 {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 2466px) and (max-width: 2565px) {

  .categoriesSubContainer {
    top: -8.4rem;
    /* margin: 0 9rem 0 9.1rem ; */
  }
  .card {
    margin-right: 20rem;
    width: 350px;
  }
  .card:last-child {
    margin-right: -2rem;
  }
  .card-img-overlay h5 {
    font-size: 2.5rem;
  }
}

/* our bestseller starts here */
.OurBestSellerContainer {
  background-color: #fdf7eb;
}
.card-body {
  padding: 0;
  text-align: left;
}
.card-text {
  text-align: left;
  padding-left: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.card-body h6 {
  font-weight: 700;
  display: inline-block;
  padding-left: 1rem;
}
.card-body p:last-child {
  display: inline-block;
  padding-left: 1rem;
  color: grey;
  text-decoration: line-through;
}
.bestSellerCard {
  border-radius: 25px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
    0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
  margin: 1rem;
}
.bestSellerCard:last-child {
  margin-right: 1rem;
}
.card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.OurBestSellerChild1 button {
  text-decoration: underline;
  color: #f26414;
  border: none;
  background: none;
}
.OurBestSellerChild2 .col-md-3{
  padding-left: 15px;
}
/* Mobile Phones (Portrait) */
@media only screen and (max-width: 480px) {
  /* Styles for mobile phones in portrait orientation */
  .OurBestSellerContainer {
    padding: 0;
  }
  .OurBestSellerChild2 {
    padding-left: 1.6rem !important;
    padding-right: 1.6rem !important;
  }
}

/* Mobile Phones (Landscape) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* Styles for mobile phones in landscape orientation */
  .OurBestSellerContainer {
    padding: 0;
  }
  .OurBestSellerChild2 .col-md-3{
    width: 90% !important;
   }
}
@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .OurBestSellerContainer {
    padding-top: 10rem;
    /* background-position: 160px 160px; */
  }

}

/* new arrivals starts here */
.newArrivalsContainer {
  padding-top: 5rem;
  background-color: #fdf7eb;
  background-image: url("../../images/Group\ 270.png");
  background-repeat: no-repeat;
  background-position: top top;
}

.newArrivalsCard {
  border-radius: 25px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
    0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
  margin: 1rem;
}
.newArrivalsCard:last-child {
  margin-right: 1rem;
}
.newArrivalsChild1 button{
  text-decoration: underline;
  color: #f26414;
  border: none;
  background: none;
}
.newArrivalsChild2 .col-md-3{
padding-left: 15px;
}
/* Mobile Phones (Portrait) */
@media only screen and (max-width: 480px) {
/* Styles for mobile phones in portrait orientation */
  .newArrivalsContainer {
    padding: 0;
  }
  .newArrivalsChild2 {
    padding-left: 1.6rem !important;
    padding-right: 1.6rem !important;
  }
}

/* Mobile Phones (Landscape) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* Styles for mobile phones in landscape orientation */
  .newArrivalsContainer {
    padding: 0;
  }
  .newArrivalsChild2 .col-md-3{
    width: 90% !important;
   }
 
}
@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .newArrivalsContainer {
    padding-top: 10rem;
    /* background-position: 160px 160px; */
  }
 
 

}

/* image Collage starts here */

.imageCollage {
  background-image: url("../../images/Group\ 269.png");
  background-repeat: no-repeat;
  background-size: auto;
  padding-bottom: 6rem !important;
}
/* .imageCollage {
  font-size: ;
} */
/* deals of the day starts here */
.DODNav .nav-link {
  color: #848484 !important;
  font-weight: 500 !important;
}

.DODNav .nav-link.active {
  color: #f26414 !important;
  text-decoration: underline;
}
.zero{
  height: 500px;
}
.seven{
  height: 250px;
}
.twelve{
  height: 250px;

}
/* Mobile Phones (Portrait) */
@media only screen and (max-width: 480px) {
  .imageCollage{
    margin: 0;
    padding: 0;
  }
  .zero{
    flex-direction: column;
    margin: 0;
    height: auto;
  }
  .one{
    width: 100% !important;
  }
  .two{
    width: 100% !important;
    margin-top: 1rem;
  }
  .seven{
    flex-direction: column;
    height: auto !important;
  }
  .eight{
    width: 100% !important;
  }
  .ten{
    margin-right: 0 !important;

  }
  .eleven{
    width: 100% !important;
    margin-top: 1rem !important;
  }
  .twelve{
    height: auto !important;
    flex-direction: column;
  }
  .thirteen
  {
    width: 100% !important;
  }
  .fourteen{
    width: 100% !important;
    margin-top: 1rem;
  }
  .fifteen{
    margin-left: 0 !important;
  }
}

/* Mobile Phones (Landscape) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .imageCollage{
    margin: 0;
    padding: 0 !important;
  }

  .zero{
    flex-direction: column;
    margin: 0;
    height: auto;
  }
  .one{
    width: 100% !important;
  }
  .two{
    width: 100% !important;
    margin-top: 1rem;
  }
  .seven{
    flex-direction: column;
    height: auto !important;
  }
  .eight{
    width: 100% !important;
  }
  .ten{
    margin-right: 0 !important;

  }
  .eleven{
    width: 100% !important;
    margin-top: 1rem !important;
  }
  .twelve{
    height: auto !important;
    flex-direction: column;
  }
  .thirteen
  {
    width: 100% !important;
  }
  .fourteen{
    width: 100% !important;
    margin-top: 1rem;
  }
  .fifteen{
    margin-left: 0 !important;
  }
}

/* Tablets (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .imageCollage{
    margin: 0;
    padding: 0 !important;
  }
  .zero{
    height: 400px !important;
  }
  .imageCollageChild{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .seven{
    height: 200px !important;
  }
  .twelve{
    height: 200px !important;
  }
}

/* Tablets (Landscape) */
@media only screen and (min-width: 992px) and (max-width: 1023px) {
  .imageCollage{
    margin: 0;
    padding: 0 !important;
  }
  .zero{
    height: 400px !important;
  }
  .imageCollageChild{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .seven{
    height: 200px !important;
  }
  .twelve{
    height: 200px !important;
  }
}

