.filterDiv{
    background-color: white !important;
    width: 250px;
    border-radius: 15px;
    color: #848484;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 1rem;
}
.filterDiv .form-check{
    margin-bottom: .25rem;
}