
.SKVTSection{
    display: flex;
    /* flex-direction: ; */
    background-image: url('../../images/Group\ 272.png');
    background-repeat: no-repeat;
    background-size: auto;
}

/* Mobile Phones (Portrait) */
@media only screen and (max-width: 767px) {
    /* Styles for mobile phones in portrait orientation */
    .SKVTSection {
        flex-direction: column;
    }
  
  }
/* Tablets (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Styles for tablets in portrait orientation */
    .SKVTSection {
        flex-direction: column;
    }
  }