@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

footer{
  font-family: 'poppins' , sans-serif;
    /* background-color: #FDF7EB !important; */
}

.footer-wrap {
    /* padding-top: 43px; */
    background-size: cover;
}

.footer-wrap h3 {
    color: black;
    font-size: 17px;
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-weight: 700;
}

.footer-wrap p {
    font-size: 13px;
    line-height: 24px;
    color: #b3b3b3;
    margin-top: 15px;
}

.footer-wrap p a {
    color: #fff;
    text-decoration: underline;
    font-style: italic;
}

.footer-wrap p a:hover {
    text-decoration: none;
    color: #ff7800;
}

.footer-links li a {
    font-size: 13px;
    line-height: 30px;
    /* text-decoration: none; */
    color: black;
    font-weight: 500;
}


/* .footer-links li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    padding-right: 10px;
    color: #ccc;
} */

.footer-category li a {
    font-size: 13px;
    line-height: 30px;
    color: black;
    font-weight: 500;
    text-decoration: none;
}

/* .footer-category li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    padding-right: 10px;
    color: #b3b3b3;
} */

.address {
    
    color: #b3b3b3;
    font-size: 14px;
    position: relative;
    padding-left: 30px;
    line-height: 30px;
}
/* 
.address:before {
    content: "\f277";
    font-family: 'FontAwesome';
    position: absolute;
    top: 0;
    left: 0;
} */

.info a {
 
    color: #b3b3b3;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
}

.fa-phone:before {
    content: "\f095";
}

.info a {

    color: #b3b3b3;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
}

.fa-fax:before {
    content: "\f1ac";
}

.copyright {
    border-top: 1px solid gainsboro !important;
    font-size: 14px;
    color: black;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
    background: #FFEFE0;
}
footer .second_class{
    /* border-bottom: 1px solid #444; */
    padding-bottom: 25px;
}
footer .first_class {
    padding-bottom: 21px;
    border-bottom: 1px solid #444;
}
footer .first_class p, footer .first_class h3{
    margin: 0 0;
    
}
/* footer{
    background: #333;
} */

footer .newsletter input[type="text"] {
    width: 100%;
    background: #fff;
    color: #333;
    border: 1px solid #222;
    padding: 14px 20px;
    border-radius: 50px;
    margin-top: 12px;
}

.newsletter .newsletter_submit_btn {
    background: #fff;
    position: absolute;
    right: 30px;
    border: 0;
    top: 26px;
    font-size: 17px;
    color: #333;
}


footer .second_class_bdr{
    padding-top: 25px;
    /* border-top:1px solid #222; */
}

footer .btn-facebook a {
    padding: 6px 14px !important;
}

footer .btn-envelop a {
    color: #D6403A;
    font-size: 15px;
    padding: 12px 12px;
}

footer .round-btn a {
    padding: 6px 12px;
}

footer .round-btn {
    box-shadow: 2px 2px 5px 0px #222 !important;}

footer .round-btn {
    margin: 15px 4px;}
	
footer dl, ol, ul {
    padding-left: 5px;
}
	/* footer li{
		list-style: none;
	} */

@media(max-width:768px){
    .footer-wrap h3 {
    margin-top: 27px;}
    
    footer .round-btn {
    margin: 15px 4px;}
}
@media(max-width:320px){
.copyright {
    font-size: 13px;}
}	
.footerImg{
    background-color:  #FDF7EB !important;;
}
.footerImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}
.second_class{
    background-color: #FFEFE0;
}
.contact-links li{
    list-style: none;
}
.row{
    align-items: center;
    justify-content: space-evenly;
    margin-right: 0;
}
@media only screen and (max-width: 767px) {
    .second_class{
        padding-left: 4rem;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1439px){
    .row{
        align-items: flex-start;
        justify-content: space-evenly;
        margin-right: 0;
    }
    .footerLogo{
        padding-left: 0;
    }
}